<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
<link href='open-sans.css' rel='stylesheet' type='text/css'>

<style type="text/css">

 * {
  max-width:1400px;
  align: center;
  font-family: "Open Sans";
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

 #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1400px;

} 

.header {
  /* font-family:verdana; */
  padding: 60px;
  background-color: black;
  /* font-family: "Courier New"; */
  color: white;
  border-radius: 10px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  text-align: right;
  /* background-color: gainsboro; */
  background-color: white;
  color: black;
  position:fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
}

a:hover {
  background-color: #ddd;
  color: Grey;

  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
border-radius: 5px;
}

a:visited {
  color: none;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

li {
  display: inline;
}

.center { 
  text-align: center;
  /* padding: 16px; */
  /* margin-top: 30px;
  height: 1400px; */
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: Grey;
  background
  align-items: center;
  justify-content: center;
} */


.list {
  /* border-style: solid;
  border-width: 15px;
  height: 200px; */
  margin-right:20px;
  margin-left:20px;
  text-align: center;
  background-color:gainsboro;
  display: flex;
  flex-direction: column;  /*add back if you want column or take away if you want row*/

  /* flex-wrap: wrap; */
  /* height: calc(50vh - 50px); */
}


/* 
#col{
  width: 1000px;
} */

#makers-logo {
  float: left;
  width: 70px;
  height: 42px;
  object-fit: contain;
  margin-left:25px;
}

#makers-logo:hover
    {
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
      border-radius: 10px;
    }

img {
float: right;
width: 170px;
height: 170px;
margin-left: 5px;
}

#villa {
border-radius: 30%;
margin-right: 10px;
padding:5px;
}

.box {
  width: 1000px;
  height: 100px; /*100 if column 200 if other*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:200px;
  margin-left:200px; 
  margin-top:600px;
 
}

/* #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /* background:black; 
   }*/


/* .button {
  text-decoration: none;
  background-color: white;
  color: #333333;
} */

</style>
  

<div class="center">

<div class="navigation">
<a href="/">
<img id="makers-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgM6d4_GlTtT5mk3Sosop5qq_k-oCMs4yj3_nXpJZhI5mqyvM_6zNWoCfe4_f7mFnLOqo&usqp=CAU"/>
</a>
   <li><a href="#home"> Home</a></li>
    <li><a href="#log in">Log in</a></li>
    <li><a href="/add_list"> Add Space</a>
   <li><a href="#places to stay">Places to stay</a></li>
</div>

<header class= "header">
<h1 class="header" style="font-size: 50px;">MAKERSBNB</h1>
<h3>Not sure where to go? Perfect, let us help you.</h3>
</header>



</div>

</head>

<div id="wrapper">
<body>
<span>
<a href="#section-2" class="button"> 
<h2 class="center">List of spaces</h2> 
</a> 
<section id="section-2">

<div class="box">

<div class="list">


<% @list.each do |item|  %> 
<a href="/booking_form", style="text-decoration:none;" id="item-name">
  <p style= "font-size: 20px;">
  <p><img id ="villa" src="https://s3.eu-west-1.amazonaws.com/prod.news.product.which.co.uk/news/wp-content/uploads/2020/08/MAIN-villa-with-pool-abroad-960x480.jpg">
</p>
  
  <%= item.name %></p> 
  <p><b>Description: </b><%= item.description %> </p>
  <p><b>Price per night: </b>£<%= item.price %> </p>
  <p><b>Available from: </b><%= item.fromdate%> </p>
  <p><b>Available to: </b><%= item.todate %> </p>
</a>
  <% end %>
  
</div>
</div>
<div>

</div>

</span>

</section>



</body>
 </div>

</html>
